/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* Variable CSS */
:root {
  --header-height: 3rem;

  /* Colors */
  --first-color: ;
  --first-color-alt: ;
  --title-color: ;
  --text-color: #fff;
  --text-color-light: ;
  --body-color: #181A1B;
  --container-color: #03157efd;

  /* Font and typography */
  --body-font: 'Inter', sans-serif;
  --biggest-font-size: 3rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;

  /* Margins */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* Box sizing rules */
*,::before, ::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: var(--container-color);
}

.digital-clock {
  width: fit-content;
  background: none;
  color: #fff;
  font-size: var(--biggest-font-size);
}